In [8]:
import pandas as pd

In [9]:
df = pd.read_csv('/Users/shiwei/Desktop/媒体帖子.csv', encoding='utf8')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16241 entries, 0 to 16240
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   author.username  16241 non-null  object
 1   text             16241 non-null  object
dtypes: object(2)
memory usage: 253.9+ KB

In [11]:
df_medialist = pd.read_csv('中国-合作国-非合作国名单.csv', encoding='utf8')

In [12]:
df_medialist

               china               in              out
0    asiatimesonline  984inthemorning      10NewsFirst
1      BeijingReview         Aaj_Urdu  10NewsFirstMelb
2               CCTV       ABSCBNNews           13WREX
3          CCTV_Plus        AJ101East   7NewsAustralia
4        CDHKedition        AJEnglish   7NewsMelbourne
..               ...              ...              ...
214              NaN              NaN      WSJPodcasts
215              NaN              NaN     XpressCinema
216              NaN              NaN     YahooFinance
217              NaN              NaN        YahooNews
218              NaN              NaN   ZeeNewsEnglish

[219 rows x 3 columns]

In [13]:
chinalist = df_medialist['china'].dropna().to_list()
inlist = df_medialist['in'].dropna().to_list()
outlist = df_medialist['out'].dropna().to_list()

In [14]:
df_china = df[df['author.username'].isin(chinalist)]
df_in = df[df['author.username'].isin(inlist)]
df_out = df[df['author.username'].isin(outlist)]

In [15]:
df_china

       author.username                                               text
1      asiatimesonline  THE ROVING EYE : Pipelineistan and the New Sil...
9         CGTNOfficial  Video: China-Kazakhstan bilateral trade cooper...
10          ChinaDaily  President Xi Jinping's proposes to build new "...
17          Echinanews  Silk Road economic belt focus of Euro-Asia for...
18     globaltimesnews  Silk Road economic belt focus of Euro-Asia for...
...                ...                                                ...
16236   ChinaDailyAsia  Hong Kong Special Administrative Region Chief ...
16237      CDHKedition  Hong Kong Special Administrative Region Chief ...
16238      CDHKedition  #SaudiArabia’s business leaders on Sunday hail...
16239      CDHKedition  In a high-spirited pitch at #LEAP 2023, #HongK...
16240   ChinaDailyAsia  In a high-spirited pitch at #LEAP 2023, #HongK...

[5869 rows x 2 columns]

In [16]:
df_china.to_csv('china_text.csv', encoding='utf8')

In [17]:
df_in.to_csv('in_text.csv', encoding='utf8')

In [18]:
df_out.to_csv('out_text.csv', encoding='utf8')